<ng-container *ngIf="positions$ | async as positions; else loader">
  <table *ngIf="positions.length > 0; else empty" class="highlight">
    <thead>
    <tr>
      <th>Name</th>
      <th>Cost</th>
      <th>Quantity</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let position of positions">
      <td>{{ position.name }}</td>
      <td>${{ position.cost }}</td>
      <td>
        <div class="input-field inline order-position-input">
          <input [(ngModel)]="position.quantity" min="1" type="number">
        </div>
      </td>
      <td>
        <button (click)="addToOrder(position)" class="btn waves-effect wavers-light btn-small">Add</button>
      </td>
    </tr>
    </tbody>
  </table>
  <ng-template #empty>
    <span>There are no positions here yet</span>
  </ng-template>
</ng-container>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
