<div class="page-title">
  <h4>History orders</h4>
  <button
    #tooltip
    (click)="isFilterShow = !isFilterShow"
    [ngClass]="{
    'active': isFilterShow,
    red: isFiltered()
    }"
    class="btn btn-small"
    data-position="left"
    data-tooltip="Open filter">
    <i class="material-icons">filter_list</i>
  </button>
</div>

<app-history-filter
  (filter)="applyFilter($event)"
  *ngIf="isFilterShow"
></app-history-filter>

<ng-container *ngIf="!reloading; else reloadingBlock">
  <ng-container *ngIf="orders.length > 0; else empty">
    <app-history-list [orders]="orders"></app-history-list>

    <ng-container *ngIf="!loading; else loader">
      <div *ngIf="!noMoreOrders" class="center mb2">
        <button (click)="loadMore()" class="btn waves-effect grey darken-1 btn-small">Download more</button>
      </div>
    </ng-container>
    <ng-template #loader>
      <app-loader></app-loader>
    </ng-template>
  </ng-container>
  <ng-template #empty>
    <span class="center">No orders yet</span>
  </ng-template>
</ng-container>

<ng-template #reloadingBlock>
  <app-loader></app-loader>
</ng-template>
